{% extends "MadesstApiDebugBundle::layout.html.twig" %}

{% block content %}
    <div id="content" class="symfony-content" style="padding: 15px;">
        {{ content|raw }}
    </div>
{% endblock content %}
